<!-- Contenedor gris al lado de la barra lateral -->
<section class="grid grid-cols-4 grid-rows-1 gap-0 h-screen bg-gray-800">

    <aside class="overflow-hidden hover:overflow-auto col-span-4 sm:col-span-2 lg:col-span-1  rounded-none transition-all duration-200 ease-in-out border-e-2 border-gray-600">
        <app-fw-chat-contacts></app-fw-chat-contacts>
    </aside>
    <div
        class="text-white col-span-4 sm:col-span-2 lg:col-span-3  transition-all duration-200 ease-in-out pt-6 grid-rows-1 p-3 ">
        <div class="h-full p-3 gap-3 flex flex-col justify-between">
            <div class="h-16 flex justify-between border-b-[1px] border-gray-600">
                <div>
                    <h1 class="m-0 font-bold text-xl">
                        Office Chat | {{ Id }}
                    </h1>
                    <h3 class="m-0 font-normal text-sm text-gray-300">
                        45 menbers, 24 onlinbe
                    </h3>
                </div>
                <div class="flex gap-12 ">
                    <figure class="m-0 flex justify-center items-center">
                        <img src="assets/SVG/search.svg" class="w-5 h-5 invert-[.7]" alt="">
                    </figure>
                    <figure class="m-0 flex justify-center items-center">
                        <img src="assets/SVG/call.svg" class="w-5 h-5 invert-[.7]" alt="">
                    </figure>
                    <figure class="m-0 flex justify-center items-center">
                        <img src="assets/SVG/more.svg" class="w-5 h-5 invert-[.7]" alt="">
                    </figure>
                </div>


            </div>
            <div class=" h-[calc(100%_-_5rem)] flex">
                <div class="flex flex-col-reverse w-full">
                    <!-- INPUT -->
                    <app-fw-chat-form
                        [Message]="Message"
                        (SendMessage)="SendMessage($event)"
                    
                    ></app-fw-chat-form>
                    <!-- MESSAGES -->
                    <div class="overflow-auto px-24 sm:px-0 " id="chats" >
                        <ng-container 
                            *ngFor="let message of Messages"
                        >
                            <app-fw-chat-message
                                [Message]="message"
                                [Id]="Id"
                            ></app-fw-chat-message>

                        </ng-container>




                    </div>

                </div>
            </div>
        </div>
    </div>
</section>